$font-stack:        Helvetica, sans-serif
$coal-color:        #333
$black-color:       black
$white-color:		snow
$blue-color: 		dodgerblue
$yellow-color:      gold
$red-color:         red

*
	box-sizing: border-box

body
	font: 100% $font-stack
	margin: 0

	#wrapper
		width: 100%
		display: flex
		flex-direction: row

		// col I
		#colI
			display: flex
			flex: 2
			height: 100vh
			border: 1px solid black
			flex-direction: column

		// col II
		#colII
			@extend #colI

			#square3 
				flex: 1
				border: 1px solid black
				display: flex
				flex-direction: row

				#colA
					flex: 1
					border: 1px solid black
					display: flex
					flex-direction: column

					#row-a
						flex: 1
						border: 1px solid black

					#row-b
						flex: 2
						border: 1px solid black

					#row-c
						flex: 2
						border: 1px solid black
						display: flex
						flex-direction: row

						#col-i
							flex: 1
							border: 1px solid black

						#col-ii
							flex: 1
							border: 1px solid black

				#colB
					@extend #colA

					#row-d
						flex: 2
						border: 1px solid black

					#row-e
						flex: 2
						border: 1px solid black	

					#row-f
						flex: 1
						border: 1px solid black	


			#square4 
				@extend #square3

				#colC 
					flex: 1
					border: 1px solid black
					display: flex
					flex-direction: column

					#row-g
						flex: 1
						border: 1px solid black

					#row-h
						flex: 2
						border: 1px solid black	

					#row-i
						flex: 2
						border: 1px solid black						

				#colD 
					flex: 1
					border: 1px solid black
					display: flex
					flex-direction: column

					#row-j
						flex: 2
						border: 1px solid black
						display: flex
						flex-direction: row

						#col-iii
							flex: 1
							border: 1px solid black

						#col-iiii
							flex: 1
							border: 1px solid black

					#row-k
						flex: 2
						border: 1px solid black

					#row-l
						flex: 1
						border: 1px solid black
						display: flex
						flex-direction: row

						#col-iv
							flex: 1
							border: 1px solid black

						#col-v
							flex: 1
							border: 1px solid black

		// col III
		#colIII
			@extend #colI



