* {
  box-sizing: border-box; }

body {
  font: 100% Helvetica, sans-serif;
  margin: 0; }
  body #wrapper {
    width: 100%;
    display: flex;
    flex-direction: row; }
    body #wrapper #colI, body #wrapper #colII, body #wrapper #colIII {
      display: flex;
      flex: 2;
      height: 100vh;
      border: 1px solid black;
      flex-direction: column; }
    body #wrapper #colII #square3, body #wrapper #colII #square4 {
      flex: 1;
      border: 1px solid black;
      display: flex;
      flex-direction: row; }
      body #wrapper #colII #square3 #colA, body #wrapper #colII #square4 #colA, body #wrapper #colII #square3 #colB, body #wrapper #colII #square4 #colB {
        flex: 1;
        border: 1px solid black;
        display: flex;
        flex-direction: column; }
        body #wrapper #colII #square3 #colA #row-a, body #wrapper #colII #square4 #colA #row-a, body #wrapper #colII #square3 #colB #row-a, body #wrapper #colII #square4 #colB #row-a {
          flex: 1;
          border: 1px solid black; }
        body #wrapper #colII #square3 #colA #row-b, body #wrapper #colII #square4 #colA #row-b, body #wrapper #colII #square3 #colB #row-b, body #wrapper #colII #square4 #colB #row-b {
          flex: 2;
          border: 1px solid black; }
        body #wrapper #colII #square3 #colA #row-c, body #wrapper #colII #square4 #colA #row-c, body #wrapper #colII #square3 #colB #row-c, body #wrapper #colII #square4 #colB #row-c {
          flex: 2;
          border: 1px solid black;
          display: flex;
          flex-direction: row; }
          body #wrapper #colII #square3 #colA #row-c #col-i, body #wrapper #colII #square4 #colA #row-c #col-i, body #wrapper #colII #square3 #colB #row-c #col-i, body #wrapper #colII #square4 #colB #row-c #col-i {
            flex: 1;
            border: 1px solid black; }
          body #wrapper #colII #square3 #colA #row-c #col-ii, body #wrapper #colII #square4 #colA #row-c #col-ii, body #wrapper #colII #square3 #colB #row-c #col-ii, body #wrapper #colII #square4 #colB #row-c #col-ii {
            flex: 1;
            border: 1px solid black; }
      body #wrapper #colII #square3 #colB #row-d, body #wrapper #colII #square4 #colB #row-d {
        flex: 2;
        border: 1px solid black; }
      body #wrapper #colII #square3 #colB #row-e, body #wrapper #colII #square4 #colB #row-e {
        flex: 2;
        border: 1px solid black; }
      body #wrapper #colII #square3 #colB #row-f, body #wrapper #colII #square4 #colB #row-f {
        flex: 1;
        border: 1px solid black; }
    body #wrapper #colII #square4 #colC {
      flex: 1;
      border: 1px solid black;
      display: flex;
      flex-direction: column; }
      body #wrapper #colII #square4 #colC #row-g {
        flex: 1;
        border: 1px solid black; }
      body #wrapper #colII #square4 #colC #row-h {
        flex: 2;
        border: 1px solid black; }
      body #wrapper #colII #square4 #colC #row-i {
        flex: 2;
        border: 1px solid black; }
    body #wrapper #colII #square4 #colD {
      flex: 1;
      border: 1px solid black;
      display: flex;
      flex-direction: column; }
      body #wrapper #colII #square4 #colD #row-j {
        flex: 2;
        border: 1px solid black;
        display: flex;
        flex-direction: row; }
        body #wrapper #colII #square4 #colD #row-j #col-iii {
          flex: 1;
          border: 1px solid black; }
        body #wrapper #colII #square4 #colD #row-j #col-iiii {
          flex: 1;
          border: 1px solid black; }
      body #wrapper #colII #square4 #colD #row-k {
        flex: 2;
        border: 1px solid black; }
      body #wrapper #colII #square4 #colD #row-l {
        flex: 1;
        border: 1px solid black;
        display: flex;
        flex-direction: row; }
        body #wrapper #colII #square4 #colD #row-l #col-iv {
          flex: 1;
          border: 1px solid black; }
        body #wrapper #colII #square4 #colD #row-l #col-v {
          flex: 1;
          border: 1px solid black; }

/*# sourceMappingURL=style.css.map */
